/* defaults to mobile styles first */

.select-textbox-container {
    padding: 25px 30px;
    position: relative;
}

.select-textbox {
    background-color: #FAFAFA;
    border: 1px solid #E3E3E3;
    border-radius: 5px;
    color: #5A6680;
    font-size: 12px;
    padding: 14px 50px 14px 20px;
    text-transform: capitalize;
    width: calc(100% - 70px);
}

.select-textbox::placeholder {
    color: #9BA1B2;
}

.select-textbox:active {
    background-color: #fff;
}

.select-textbox-clear {
    cursor: pointer;
    position: absolute;
    padding: 13px 15px;
    right: 30px;
    top: 25px;
}

.select-textbox-spinner {
    height: 65px;
    width: 65px;
    position: absolute;
    right: 25px;
    top: 15px;
}

/* Desktop media queries */
@media screen and (min-width: 768px) {
    .select-textbox-container {
        flex: 1;
        text-align: center;
    }

    .select-textbox {
        background-color: #fff;
        border-radius: 3px;
        font-size: 10px;
        padding: 8px 35px 8px 15px;
        width: 165px;
    }

    .select-textbox-clear {
        right: auto;
        top: auto;
        transform: translateX(-30px);
        padding: 6px 10px;
    }

    .select-textbox-spinner {
        height: 40px;
        width: 40px;
        right: auto;
        top: auto;
        transform: translateX(-40px) translateY(-5px);
    }
}