/* defaults to mobile styles first */

.logo {
    height: 35px;
}

.navbar {
    background-color: #EE242C;
    height: 66px;
    flex-direction: row;
}

/* Desktop media queries */
@media screen and (min-width: 768px) {

}