/* defaults to mobile styles first */
.hamburger {
    background: none;
    border: none;
}

.hamburger-line {
    background-color: white;
    border-radius: 4px;
    display: block;
    height: 4px;
    margin-bottom: 2px;
    width: 26px;
}

.logo {
    height: 35px;
}

.navbar {
    background-color: #EE242C;
    height: 66px;
    flex-direction: row;
}

/* Desktop media queries */
@media screen and (min-width: 768px) {

}