.hamburger {
    background: none;
    border: none;
}

.hamburger-line {
    background-color: white;
    border-radius: 4px;
    display: block;
    height: 4px;
    margin-bottom: 2px;
    width: 26px;
}
